{% extends 'qrgenerator/dashbord.html' %}

{% load static %}
{% block specific_css %}
<link rel="stylesheet" href="{% static 'waiters/dash.css' %}">
{% endblock %}
{% block specific_js %}
    <script defer src="{% static 'waiters/scripts/index.js' %}"></script>
{% endblock %}
{% block waiters %}
<div class="menu-left-item active-tab">
    <a href="{% url 'qrgenerator:menu' %}">Menu</a>
</div>
{% endblock %}

{% block menu_elements %}

<div class="menu-elements bg-white">
    <div class="elements-top">
        <div class="elements-title">Waiters</div>
        <a href="{% url 'qrgenerator:add_item' %}" id="add-new">
            <svg xmlns="http://www.w3.org/2000/svg" 
                id="compose-medium" fill="currentColor" aria-hidden="true" 
                data-supported-dps="24x24" viewBox="0 0 24 24" data-token-id="96" 
                width="24" height="24" class="compose" aria-label="" style="width: 24px; min-width: 24px; height: 24px; min-height: 24px;">
                <path d="M19 12h2v6a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h6v2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zm4-8a2.9 2.9 0 0 1-.87 2l-8.94 9L7 17l2-6.14 9-9A3 3 0 0 1 23 4m-4 2.35L17.64 5l-7.22 7.22 1.35 1.34z"></path>
            </svg>
            <span id="new">Add</span>
        </a>
    </div>
    <div class="elements-wrapper">
        {% if waiters %}
        {% for waiter in waiters %}
        <a href="{% url 'waiters:view_waiter' waiter.id %}">
            <div class="element-highlight">
                <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" 
                    xmlns="http://www.w3.org/2000/svg" stroke="#663399" stroke-width="0.36"
                    transform="rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0">
                    </g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                    </g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" 
                    d="M9.39862 4.32752C9.69152 4.03463 10.1664 4.03463 10.4593 4.32752L16.8232 10.6915C17.5067 11.3749 17.5067 12.4829 16.8232 13.1664L10.4593 19.5303C10.1664 19.8232 9.69152 19.8232 9.39863 19.5303C9.10573 19.2374 9.10573 18.7625 9.39863 18.4697L15.7626 12.1057C15.8602 12.0081 15.8602 11.8498 15.7626 11.7521L9.39863 5.38818C9.10573 5.09529 9.10573 4.62041 9.39862 4.32752Z" fill="rebeccapurple"></path> </g>
                </svg>
                <span class="item-name item-property">{{waiter.name}}</span>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block workspace %}
<div class="form-wrapper">
{% if display_waiter %} 
<div class="form-title waiter-name"><span style="text-transform:uppercase">{{ display_waiter.name }}</span>
    <a href="{% url 'waiters:view_waiter' display_waiter.id %}" class="svg-edit">
    <svg width="16px" height="16px" viewBox="0 0 24 24" id="_24x24_On_Light_Edit" data-name="24x24/On Light/Edit" xmlns="http://www.w3.org/2000/svg">
        <rect id="view-box" width="24" height="24" fill="none"/>
        <path stroke="currentColor" fill="none" id="Shape" d="M.75,17.5A.751.751,0,0,1,0,16.75V12.569a.755.755,0,0,1,.22-.53L11.461.8a2.72,2.72,0,0,1,3.848,0L16.7,2.191a2.72,2.72,0,0,1,0,3.848L5.462,17.28a.747.747,0,0,1-.531.22ZM1.5,12.879V16h3.12l7.91-7.91L9.41,4.97ZM13.591,7.03l2.051-2.051a1.223,1.223,0,0,0,0-1.727L14.249,1.858a1.222,1.222,0,0,0-1.727,0L10.47,3.91Z" transform="translate(3.25 3.25)" fill="#141124"/>
    </svg><span class="text-edit">Edit</span>
    </a>
</div>
{% else %}
<div class="elements-top">
    <a href="{% url 'qrgenerator:add_item' %}" id="add-new">
        <svg xmlns="http://www.w3.org/2000/svg" 
            id="compose-medium" fill="currentColor" aria-hidden="true" 
            data-supported-dps="24x24" viewBox="0 0 24 24" data-token-id="96" 
            width="24" height="24" class="compose" aria-label="" style="width: 24px; min-width: 24px; height: 24px; min-height: 24px;">
            <path d="M19 12h2v6a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3h6v2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zm4-8a2.9 2.9 0 0 1-.87 2l-8.94 9L7 17l2-6.14 9-9A3 3 0 0 1 23 4m-4 2.35L17.64 5l-7.22 7.22 1.35 1.34z"></path>
        </svg>
        <span id="new">Add Waiter</span>
    </a>
</div>
{% endif %}
{% if display_waiter %}
<div class="form-register order-summary waiter-details">
    <div class="input-wrapper"><div class="label">NATIONAL ID</div>
        {{ display_waiter.national_id }}
    </div>
    <div class="input-wrapper"><div class="label">PHONE NUMBER</div>
        {{ display_waiter.phone_number }}
    </div>
    <br>
</div>
<div class="waiter-orders">
    <div class="waiter-orders-top">
    <h4>Order ID</h4>
    <form method="post" id="filter-orders-form" action="{% url 'waiters:view_waiter' display_waiter.id %}">
        {% csrf_token %}
        <input type="hidden" name="waiter_id" value="{{ display_waiter.id }}" readonly required>
        <select name="filter_by" id="orders-select" class="orders-filter">
            {% if filter_by == 'all' %}
            <option value="all" selected >All</option>
            <option value="paid">Paid</option>
            <option value="pending">Pending</option>
            {% endif %}
            {% if filter_by == 'paid' %}
            <option value="all">All</option>
            <option value="paid" selected>Paid</option>
            <option value="pending">Pending</option>
            {% endif %}
            {% if filter_by == 'pending' %}
            <option value="all">All</option>
            <option value="paid">Paid</option>
            <option value="pending" selected>Pending</option>
            {% endif %}
        </select>
    </form>
    </div>         
    <div class="waiter-orders-list">
        {% if orders %}     
        {% for order in orders %}
        <div class="waiter-order-wrapper">
        <div class="ref-number">{{order.order_id}}</div>
        <div class="order-total">KES: {{order.total_amount}}</div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endif %}
</div>
{% endblock %}
