
:root {
    /* --accent-color: #fa9672; */
    --accent-color: rebeccapurple;
    --background-color: #fceae0;
    --light-background: #fdeee5;
    --dark-gray: #2a353d;
    --white: #ffffff;
    --black: #000000;
    --accent-b: #f35217;
    --light-background: rgb(228, 225, 225);
    --gray: rgb(163, 163, 163);
    --info-orange: rgb(236, 155, 4);
    --light-green: rgb(17, 18, 19);
    --faded-black: rgb(37, 36, 36);
    --light-purple:rgb(201, 167, 248, 0.9);
}

body {
    /* background-color: var(--background-color); */
    background-color: var(--white);
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0;
    width: 100vw;

}

.restaurant-details {
    background: var(--white);
    color: var(--faded-black);
    border-bottom: 2px solid var(--light-background);
    padding-bottom: 20px;
}

.restaurant-name {

    font-size: 1.5em;
    font-weight: bold;
    color: var(--accent-2);
    margin-top: 20px;
    text-transform: capitalize;
}

.table {
    padding: 10px 20px;
    font-size: 1.0em;
    font-weight: bold;
}

.table-number {
    font-size: 1.5em;
    color: var(--white);
    background-color: var(--dark-gray);
    padding: 5px 20px;
    margin: 20px;
    border-radius: 10px;
    font-weight: normal;
}

#available-items {
    margin: 20px;
}


.restaurant-menu {
    background-color: var(--white);

}

.menu-form {
    /* margin: 20px; */
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 320px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    background: var(--white);
    /* border: 1px solid var(--accent-color); */
    border-radius: 15px;
}

.menu-item {
    border: 2px solid var(--light-background);
    /* background: var(--light-background); */
    padding: 10px;
    border-radius: 15px;
}

.item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background);
    /*border: 1px solid var(--dark-gray);*/
    border-radius: 10px 10px 0 0;
}

img.item-image {
    height: 300px;
    width: 300px;
    border-radius: 10px 10px 0 0 ;
}

.item-name {
    padding: 5px 0;
}

.onborder-name {
    position: relative;
    left: 10px;
    bottom: 25px;
    padding: 5px 10px 0px 10px;
    background: white;
    color: var(--accent-color);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.0em;
    letter-spacing: normal;
}

.height-0 {
    height: 0;
}

.item-details {
    padding: 10px;
    
}

.item-calcs {
    /* padding-left: 5px; */
}

.totals {
    padding: 10px;
    color: var(--faded-black);
    font-weight: bold;
    margin-bottom: 2px;
    text-align: center;

}

.item-price {
    /* font-weight: bold; */
    color: #000000;
    font-size: 16px;
}

.unit {
    text-transform: capitalize;
}

.item-quantity {
    /* padding: 5px 0; */
}

.quantity-wrapper {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: nowrap;
}

.quantity-button {
    border-radius: 20px;
    font-weight: bold;
    font-size: 28px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
    background: var(--light-background);
    border: 2px solid var(--accent-color);
    font-weight: bold;
}

.quantity-input {
    text-align: center;
    width: 40px;
    padding: 5px;
    border: none;
    background: none;
    font-size: 1.2em;
    color: var(--accent-color);

}

.reduce-button {
    padding-bottom: 2px;
    box-sizing: border-box;
}

span.item-name {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--black);
    text-transform: capitalize;
}

.submit-button {
    border-radius: 20px;
    font-size: 1.0em;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--accent-color);
    margin-top: 20px;
    cursor: pointer;
    letter-spacing: normal;
    border: none;
    font-size: 20px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.light-background {
    background-color: var(--light-background);

}

.readonly-input {
    text-align: center;
    border: none;
    background: none;
    border-radius: 5px;
    font-size: 1.2em;
    color: var(--dark-gray);


}

.display-none {
    display: none;
}

.flex-column {
    flex-direction: column;
}
.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

.phone-input {
    padding: 5px 10px;
    border-radius: 15px;

}

#cancel {
    font-weight: bold;
    margin-right: 10px;
    color: var(--accent-color)
}

.preview {
    border: 2px solid var(--light-background);
    border-radius: 20px;
    padding: 20px;
    background: var(--light-background)
}

.item-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--light-background);
    margin-top: 5px;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.page-header {
    min-height: 80px;
    /* padding-left: 40px; */
}

.header-top {
    padding: 10px;
}
.gen-codes {
    padding: 15px 25px;
    border-radius: 25px;
    margin-right: 0px;
}