:root {
    --accent-color: #fa9672;
    --background-color: #fceae0;
    --light-background: #fdeee5;
    --dark-gray: #2a353d;
    --white: #ffffff;
    --black: #000000;
}



/*label {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

