
:root {
    --background-color: #fceae0;
    --light-background: rgb(228, 225, 225);
    --dark-gray: #2a353d;
    --white: #ffffff;
    --black: #000000;
    --accent-b: #f35217;
    --brown: #862603;
    --gray: rgb(163, 163, 163);
    --info-orange: rgb(236, 155, 4);
    --green: green;
    --light-green: rgb(17, 18, 19);
    --faded-black: rgb(37, 36, 36);
}

html {
    /* max-width: 90.5vw; */
}

title {
    text-transform: capitalize;
}

body {
    background-color: rgb(228, 225, 225);
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    /* width: fit-content; */
    max-width: 98.9vw;
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
    /* height: fit-content; */
    
}

section {
    /* padding: 0 0px; */
}

.page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    width: 100%;
    /* min-width: 100vw; */
    box-sizing: border-box;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.header-top {
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10px;
    background: var(--white);

}

.page-title {
    color: rebeccapurple;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}

/* .logo {
    width: 32px;
    height: 32px;
} */

.header-right {
    display: flex;
    justify-content: flex-end;
    /* width: 100%; */
}

.gen-codes  {
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    box-sizing: border-box;
    background: rebeccapurple;
    color: white;
    min-height: fit-content;
}

.page-title {
    font-weight: bold;
    white-space: nowrap;
    
}

.restaurant-name {
    white-space: nowrap;
}

.registration {
    text-align: center;
}

.registration-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;

}

.main-section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    height: 90vh;
    /* max-width: 99.5vw; */
    width: 100%;
    box-sizing: border-box;
}

.main-section-left {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
    /* width: 340px; */
    width: fit-content;
    box-sizing: border-box;
    height: 100%;
    background: var(--white);
        
}

.menu-left {
    height: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
    margin-right: 4px;
    padding-right: 10px;
    border-radius: 0 5px 5px 0;
    padding-top: 10px;
    /* font-weight: bold; */
    letter-spacing: normal;
    
}

.menu-left-item {
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: left;
    font-size: 14px;
}

.logout {
    justify-self: flex-end;
    height: 10vh;
}

.menu-elements {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    /* width: 220px; */
    border-radius: 5px;

}


.elements-top {
    color: rebeccapurple;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    /* margin-bottom: 20px; */
    letter-spacing: normal;
    padding: 5px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray);
}

.elements-title {
    padding-bottom: 2px;
    color: var(--faded-black);
    
}

a#add-new {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

span#new {

}

.plus-sign {
    font-size: 20px;
}

.elements-wrapper {
    text-align: left;
    padding: 10px 0;
    /* min-width: fit-content; */
    width: 260px;

}

ol.elements-wrapper {
    margin-top: 0px;
    /* padding-left: 20px; */
    box-sizing: border-box;
}

.element-highlight {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4px;
    justify-content: flex-start;
    white-space: nowrap;
    font-size: 12px;
    padding:10px 0px 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray);
    width: 100%;
}

.bg-light-gray {
    background: rgb(228, 225, 225);
}

.bg-white {
    background: var(--white);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.item-property {
    margin-right: 5px;
}
