
.restaurant-mobile {
    display: none;
    background: white;
}

.header-bottom {
    display: none;
}

.active-tab {
    text-decoration-color: rebeccapurple;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

@media screen and (max-width: 850px) {
    

    .restaurant-mobile {
        display: block;
        background: white;
        width: 100%;
    }

    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .workspace {
        min-height: fit-content;
        margin: 0px 10px;
        padding: 20px 0;
        /* box-sizing: border-box; */
        /* width: 95%; */
    }

    .main-section-left {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
    }

    .menu-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    .menu-left-first {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        align-self: flex-start;
        justify-self: flex-start;
        gap: 20px;
    }

    .dash-logout {
        height: unset;
        margin-right: 10px;
    }

    .stats {
        margin-top: 20px;
    }
    .main-section-left {
        padding: 0 10px;
        background: white;
    }
}

@media screen and (max-width: 600px) {
    .restaurant-name {
        display: none;
    }

    
}

@media screen and (max-width: 400px) {
    .restaurant-name {
        display: none;
    }

    .header-bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        width: 100%;
        padding: 0 20px 10px 20px;
        background: var(--white);
    }

    .mi {
        display: none;
    }

    .menu-left-first {
        justify-content: space-between;
        width: 100%;
        padding-right: 20px;
    }

    .stats {
        min-height: fit-content;
    }

    .active-tab {
        width: unset;
    }
    
}

