:root {
    --background-color: #fceae0;
    --light-background: #fdeee5;
    --dark-gray: #2a353d;
    --white: #ffffff;
    --black: #000000;
    --accent-b: #f35217;
    --brown: #862603;
    --gray: rgb(163, 163, 163);
    --info-orange: rgb(236, 155, 4);
    --green: green;
}

body {
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.stats {
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rebeccapurple;
    /* margin-right: 5px; */
    padding-right: 10px;
    border-radius: 5px;
    width: 250px;
    box-sizing: border-box;
    
}

.stats-item {
    margin-bottom: 20px;
    padding: 10px 0px;
    text-align: left;
    /* border: 1px solid var(--accent-b); */
    font-size: 12px;
    color: rebeccapurple;
}

