<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, 
    width=device-width, interactive-widget=resizes-content user-scalable=false">
    <link rel="icon" type="image/x-icon" href="{% static 'qrgenerator/svg/logo.svg' %}">
    <link href="{% static 'qrgenerator/accounts.css' %}" rel="stylesheet">
    <link href="{% static 'menus/index.css' %}" rel="stylesheet">
    <link href="{% static 'menus/order.css' %}" rel="stylesheet">
    <link href="{% static 'menus/order_mobile.css' %}" rel="stylesheet">
    <title>Glance QR</title>
    <script defer src="{% static 'scripts/index.js' %}"></script>
</head>
<body>
    <section class="page-header np">
        <div class="header-top">
            <div class="page-title">
                <div class="logo">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="2" width="28" height="28" fill="rebeccapurple" />
                        <rect x="7" y="7" width="18" height="18" fill="white" />
                        <rect x="11" y="11" width="10" height="10" fill="rebeccapurple" />
                    </svg>
                </div>
                <div>
                <span id="lipa">Glance</span> <span id="q">Q</span><span>R</span>
                </div>
            </div>
            <div class="header-right">
                <a href="{% url 'qrgenerator:get_qrs' %}">
                    <div class="gen-codes">Create QRs</div>
                </a>
            </div>
        </div>
    </section>
    {% block body %}
    <section class="flex-center flex-column restaurant-details">
        <div class="flex-center title-adjust">
            <div class="restaurant-name">{{ restaurant.name }}</div>
            <div class="restaurant-name">{{ restaurant.location }}</div>
        </div>
        <div class="table">TABLE <span class="">{{ table_number }}</span></div>
    </section>
    {% block categories %}
    <section class="categories-section">
        <form id="category-form" class="categories" method="post" action="{% url 'menus:get_menu' restaurant.restaurant_id table_number %}">
            {%csrf_token %}
            <input name="category" id="category" type="hidden" value="" readonly>
        <div class="cat drinks" id="drinks">
            Drinks
        </div>
        <div class="cat beverages" id="beverages">
            Beverages
        </div>
        <div class="cat meat" id="meat">
            Meat
        </div>
        <div class="cat snarks" id="snarks">
            Snarks
        </div>
        <div class="cat other" id="other">
            Other
        </div>
        </form>
    </section>        
    {% endblock %}
    <section class="restaurant-menu">
        {% block main_section %}
        <form action="{% url 'menus:get_order' restaurant.restaurant_id table_number %}" class="menu-form" method="POST">
            {% csrf_token %}
            <div style="display: none;">
                <input type="text" id="restaurant-id" name="restaurant_id" value="{{ restaurant.restaurant_id }}">
                <input type="number" id="table-number" name="table_number" value="{{ table_number }}">    
            </div>
            {% for item in menu %}
            <div class="menu-item" id="item-{{ item.item_id }}">
                <div class="height-0"><span class="onborder-name">{{ item.name}}</span></div>
                <div class="item-image-container">
                    <img src="{{ item.image.url }}" alt="Image of {{ item.name }}" class="item-image">
                </div>
                <div class="item-text">
                    <div class="item-details">
                        <div class="item-price"><span class="unit">{{ item.unit }} @</span>KES:
                            <span id="item-{{ item.item_id }}-price"> {{ item.unit_price }}</span>
                        </div>
                    </div>
                    <div class="item-calcs">
                        <div class="item-quantity">
                            <div class="totals">Total:
                                <span class="item-total" id="item-{{ item.item_id }}-total">0</span>
                            </div>
                            <div class="quantity-wrapper">
                                <button class="quantity-button reduce-button" type="button">-</button>
                                <input id="item-{{ item.item_id }}-quantity" type="number" name="{{ item.item_id }}" placeholder="0" value="0" class="quantity-input" min="0" readonly>
                                <button class="quantity-button add-button" type="button">+</button>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            <div class=preview>
                <div>
                    TOTAL: <span id="menu-total">KES: 00.00</span>
                </div>
                <div>
                    <span id="cancel">Cancel</span>
                    <input type="submit" name="Place-Order" value="Place Order" class="submit-button">
                </div> 
            </div>   
        </form>
        {% endblock %}
    </div>
    {% endblock %}
</body>
</html>

