<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'menus/messages.css' %}" rel="stylesheet">
    <title>{{ restaurant}}</title>
</head>
<body>
    {% block message_section %}
    <section class="message-section">
        <h2 class="message-title">Success</h2>
        <p class="message">Your order has been successfully placed!</p>
        <div class="message">Complete the payment on your phone.</div>
    </section>
    {% endblock %}
</body>
</html>

