{% extends 'menus/menu.html' %}

{% block categories %}{% endblock %}

{% block main_section %}
<div class="main-section-wrapper">
<h3>Complete Payment</h3>
<div>
    <p>We will send a push stk to your phone</p>
</div>
<form class="stk-form" action="" method="post">
    {% csrf_token %}
    <label>Reference Number:
        <input class="readonly-input" type="text" name="reference_number" value="{{ order.reference_number }}" readonly>
    </label>
    <br>
    <label>Total Amount:
        <input class="readonly-input" type="text" name="total_amount" value="{{ order.total_amount }}" readonly>
    </label>
    <br>
    <label>Phone Number:
        <input class="readonly-input" type="text" name="phone_number" value="{{ order.phone_number }}" required readonly>
    </label>
    <br>
    <button class="stk-submit" type="submit">COMPLETE</button>
</form>
</div>
{% endblock %}
