<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Restaurant</title>
    <link rel="stylesheet" href="{% static 'qrgenerator/register.css' %}">
</head>
<body>
    <section class="registration">
        <div class="registration-nav">
            <div>
                <a class="back" href="{% url 'qrgenerator:index' %}">
                    <svg fill="currentColor" height="22" viewBox="0 0 22 22" width="22" 
                    xmlns="http://www.w3.org/2000/svg"><path 
                    class="back-arrow-path" 
                    d="M15.75 4H13L6 11L13 18H15.75L8.75 11L15.75 4Z"></path>
                </svg>
                Back
            </a>                
            </div>
        </div>
        <div class="form-wrapper">
            <div class="form-title"><h1>Restaurant Details</h1></div>
            <form action="" class="form-register" method="post">
                {% csrf_token %}
                <div class="input-wrapper"><div class="label">RESTAURANT NAME</div>
                    <input type="text" class="form-input" id="restaurant-name" name="name" placeholder="Restaurant Name" required>
                </div>
                <div class="input-wrapper"><div class="label">LOCATION</div>
                    <input type="text" class="form-input" id="restaurant-location" name="location" placeholder="location" required>
                </div>
                <div class="input-wrapper"><div class="label">PHONE</div>
                    <input type="tel" class="form-input" id="restaurant_phone" name="phone_number" placeholder="phone number" required>
                </div>
                <div class="input-wrapper"><div class="label">EMAIL</div>
                    <input type="email" class="form-input" id="email" name="email" Placeholder="email" required>
                </div>
                <div class="input-wrapper"><div class="label">TILL NUMBER</div>
                    <input type="number" class="form-input" id="till-number" name="till_number" Placeholder="Till Number" required>
                </div>
                <br>
                <br>
                <div class="input-wrapper">
                    <button type="submit" class="button-register" id="button-register" value="Register">Add</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>