{% extends 'menus/menu.html' %}
{% load static %}

{% block body %}
<div class="table-form-wrapper">
    <div class="form-title"><h3>Create Order</h3></div>
    <form id="table-number-form" action="" method="post" class="table-number-form">
        {% csrf_token %}
        <div class="input-wrapper"><div class="label">TOTAL NUMBER</div>
            <input type="number" class="phone-input" id="table-number" name="table_number" placeholder="Enter Table Number" required>
        </div>
        <br>
        <br>       
        <div class="input-wrapper">
            <button type="submit" class="create-order-button" id="create-order">Create Order</button>
        </div>
    </form>
</div>
{% endblock %}
