<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{% static 'qrgenerator/svg/logo.svg' %}">
    <title>Glance QR {{ restaurant.name.capitalize }}</title>
    
    <link rel="stylesheet" href="{% static 'qrgenerator/accounts.css' %}">
    <link rel="stylesheet" href="{% static 'qrgenerator/workspace.css' %}">
    <link rel="stylesheet" href="{% static 'qrgenerator/stats.css' %}">
    <link rel="stylesheet" href="{% static 'qrgenerator/print.css' %}">
    <link rel="stylesheet" href="{% static 'qrgenerator/dashbord_mobile.css' %}">
    {% block specific_css %}{% endblock %}
    <script defer src="{% static 'qrgenerator/scripts/incomings.js' %}"></script>
    <script defer src="{% static 'qrgenerator/scripts/validations.js' %}"></script>
    {% block specific_js %}{% endblock %}
</head>
<body>
<div style="display: none;"><a id="incoming-url" href="{% url 'qrgenerator:new_orders' %}"></a></div>
<section class="page-header np">
        <div class="header-top">
            <div class="page-title">
                <div class="logo">
                    <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="2" width="28" height="28" fill="rebeccapurple" />
                        <rect x="7" y="7" width="18" height="18" fill="white" />
                        <rect x="11" y="11" width="10" height="10" fill="rebeccapurple" />
                    </svg>
                </div>
                <div>
                <span id="lipa">Glance</span> <span id="q">Q</span><span>R</span>
                </div>
            </div>
            <div class="restaurant-name">
                {% if restaurant %}
                {{restaurant.name.capitalize }} {{restaurant.location.capitalize}}
                {% endif %}
            </div>
            <div class="header-right">
                <a href="{% url 'qrgenerator:get_qrs' %}">
                    <div class="gen-codes">Get QRs</div>
                </a>
            </div>
        </div>
        <div class="header-bottom mv">
            <div>
                <div class="dash-logout">
                    <a href="{% url 'qrgenerator:logout' %}"><div>Log Out</div></a>
                </div>
            </div>
        </div>
</section>
<!-- <div class="restaurant-mobile">{{ restaurant.name}} {{restaurant.location}}</div> -->
<section class="main-section">
    <div class="main-section-left bg-light-gray np">
        <div class="menu-left bg-white">
            <div class="menu-left-first">
                {% block menu %}
                <div class="menu-left-item">
                    <a href="{% url 'qrgenerator:menu' %}">Menu</a>
                </div>
                {% endblock %}
                {% block orders %}
                <div class="menu-left-item">
                    <a href="{% url 'qrgenerator:orders' %}">Orders</a>
                </div>
                {% endblock %}
                {% block pending %}
                <div class="menu-left-item">
                    <a href="{% url 'qrgenerator:pending' %}">Pending
                        <span id="incoming-pending" class="incoming">0</span>
                    </a>
                </div>
                {% endblock %}
                {% block paid %}
                <div class="menu-left-item">
                    <a href="{% url 'qrgenerator:paid' %}">Paid
                        <span id="incoming-paid" class="incoming">0</span>
                    </a>
                </div>
                {% endblock %}
                {% block waiter %}
                <div class="menu-left-item">
                    <a href="{% url 'waiters:waiters_dash' %}">Waiters
                    </a>
                </div>
                {% endblock %}
            </div>
            <div class="menu-left-item mi">
                <div class="dash-logout">
                    <a href="{% url 'qrgenerator:logout' %}"><div>Log Out</div></a>
                </div>
            </div>
        </div>
        {% block menu_elements %}
        <!-- <div class="menu-elements bg-white">
            <div class="elements-top">
                <div class="elements-title">Paid orders</div>
                <button class="add-btn"></button>
            </div>
            <div class="elements-wrapper">
                <div class="element-highlight">00100001: KES: 40000.00 </div>
                <div class="element-highlight">00100001: KES: 40000.00 </div>
                <div class="element-highlight">00100001: KES: 40000.00 </div>
            </div>
        </div> -->
        {% endblock %}
    </div>
    <div class="workspace">
        <div id="search-wrapper" class="np">
            <form action="{% url 'qrgenerator:search_order' %}" method="post" id="search-form">
                {% csrf_token %}
                <div id="query-wrapper">
                    <input type="search" name="query" id="input-search" required placeholder="Enter order id or ref no. or phone no.">
                </div>
                <button type="submit" id="button-search">Go</button>
            </form>
        </div>
        {% block workspace %}
        <div class="form-wrapper">
            <div class="form-title"><h3>Order Details</h3></div>
            <div class="order-summary">
                <div class="width-250">
                    <div class="input-wrapper">
                        <div class="label">Order ID:</div>
                        <div class="form-input">12001</div>
                    </div>
                    <div class="input-wrapper">
                        <div class="label">Phone Number:</div>
                        <div class="form-input">0708465763</div>
                    </div>
                    <div class="input-wrapper"><div class="label">Total:</div>
                        <div class="form-input">KES: 3000.00</div>
                    </div>
                    <div class="input-wrapper">
                        <div class="label">Status:</div>
                        <div class="status">Pending
                            <div class="info-box">Set the order status to paid</div>
                            <form method="POST" action="" class="paid-btn-wrapper">
                                {% csrf_token %}
                                <input type="hidden" value="order_id">
                                <button type="submit" class="mark-paid">Mark Paid</button>
                                <!-- <div class="info-box">set the order status to paid</div> -->
                            </form>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="width-250 padding-left-10">
                <div class="label items-title">Items</div>
                <ol>
                    <li>
                        <div class="item-wrapper">
                            <div class="item-descriptio">1/4 Chicken</div>
                            <div class="item-total">KES:800</div>
                        </div>
                    </li>
                    <li>
                        <div class="item-wrapper">
                            <div class="item-descriptio">1/4 Chicken</div>
                            <div class="item-total">KES:800</div>
                        </div>
                    </li>
                </ol>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div class="stats np">
        <div class="stats-item">
            <div class="stats-item-title">Today's Sales</div>
            <div class="stat-details">
                <div class="orders-sold stat-wrapper margin-small">
                    <span class="bold">Orders</span>
                    <span class="stat-value">1234</span>
                </div>
                <div class="total-value stat-wrapper margin-small">
                    <span class="bold faded-black">Total KES</span>
                    <span class="stat-value">40000</span>
                    </div>
                <div class="average stat-wrapper margin-small">
                    <span class="bold faded-black">Popular</span>
                    <span class="stat-value">Fries</span>
                </div>
            </div>
        </div>
        <div class="stats-item">
            <div class="stats-item-title">This Week</div>
            <div class="stat-details">
                <div class="orders-sold margin-small">
                    <span class="bold">Orders</span>
                    <span class="stat-value">1234</span>
                </div>
                <div class="total-value margin-small">
                    <span class="bold faded-black">Total KES</span>
                    <span class="stat-value">40000</span>
                    </div>
                <div class="average margin-small">
                    <span class="bold faded-black">Popular</span>
                    <span class="stat-value">Fries</span>
                </div>
            </div>
        </div>
        <div class="stats-item">
            <div class="stats-item-title">This Month</div>
            <div class="stat-details">
                <div class="orders-sold margin-small">
                    <span class="bold">Orders</span>
                    <span class="stat-value">1234</span>
                </div>
                <div class="total-value margin-small">
                    <span class="bold faded-black">Total KES</span>
                    <span class="stat-value">40000</span>
                    </div>
                <div class="average margin-small">
                    <span class="bold faded-black">Popular</span>
                    <span class="stat-value">Fries</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
