<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'qrgenerator/svg/logo.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'qrgenerator/qr_images.css' %} ">
    <script defer src="{% static 'qrgenerator/scripts/qr_images.js' %}"></script>
    <title>Glance QR</title>
</head>
<body>
    <section class="page-heading">
        <div class="page-title">
            <div class="logo">
                <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                    <rect x="2" y="2" width="28" height="28" fill="rebeccapurple" />
                    <rect x="7" y="7" width="18" height="18" fill="white" />
                    <rect x="11" y="11" width="10" height="10" fill="rebeccapurple" />
                </svg>
            </div>
            <div class="lipa-qr"><h1>Glance QR</h1></div>
        </div>
    </section>
    <section class="account-section">
        <div class="account-wrapper">
            <div class="restaurant-name"><span>{{ restaurant.name }}</span> <span class="location">{{ restaurant.location }}</span></div> 
            <nav>
            <a href="{% url 'qrgenerator:logout' %}">Logout</a>
            <a href="{% url 'qrgenerator:account' %}" class="dashboard">Dashboard</a>
            </nav>
        </div>
    </section>
    <section class="main-section">
        <h1>QR Codes</h1>
        <div>
            <button class="btn-download" id="btn-download">Download Images</button>
        </div>
        <div class="qr-codes-wrapper" id="qr-codes-wrapper">
            {% for i in qr_urls %}
                <div class="qr-code">
                    <img src="{{ i }}" alt="QR Code image">
                </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>
         